.jumbotron {
    background: url('../images/alaska-sky.jpg') no-repeat center;
    margin-bottom: 0;
}

footer a:hover {
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 767.98px) {
    .card {
        min-width: 100%;
    }
}